In [1]:
import pandas as pd
import datetime as dt

## Python's datetime module

In [2]:
dt.datetime(2016,4,12)

datetime.datetime(2016, 4, 12, 0, 0)

In [3]:
dt.date(2016,12,12)

datetime.date(2016, 12, 12)

In [4]:
someday = dt.datetime(2016,4,12)

In [5]:
someday.year

2016

In [6]:
str(dt.datetime(2015, 5, 12, 5, 2 ,6))

'2015-05-12 05:02:06'

In [7]:
sometime = dt.datetime(2015, 5, 12, 5, 2 ,6)

In [8]:
sometime.hour

5

## Pandas Timestamp object

In [9]:
pd.Timestamp('2015-05-12 05:02:06')

Timestamp('2015-05-12 05:02:06')

In [10]:
pd.Timestamp('2015-05-12')

Timestamp('2015-05-12 00:00:00')

In [11]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [12]:
pd.Timestamp('2015, 03, 31')

Timestamp('2015-03-31 00:00:00')

In [13]:
pd.Timestamp('1/1/2015')

Timestamp('2015-01-01 00:00:00')

In [14]:
pd.Timestamp('12/5/2016')

Timestamp('2016-12-05 00:00:00')

In [15]:
pd.Timestamp('1/3/2015')

Timestamp('2015-01-03 00:00:00')

In [16]:
pd.Timestamp('2021-08-05 10:00:29 PM')

Timestamp('2021-08-05 22:00:29')

In [17]:
pd.Timestamp(dt.date(2015, 5, 6))

Timestamp('2015-05-06 00:00:00')

## Pandas DateTimeIndex Object

In [18]:
dates = ['2015-6-5','2014-6-5', '2009-8-9']

In [19]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2015-06-05', '2014-06-05', '2009-08-09'], dtype='datetime64[ns]', freq=None)

In [20]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [21]:
dates = [dt.datetime(2015, 6, 8), dt.datetime(2016, 6, 8), dt.datetime(2015, 8, 6)]

In [22]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2015-06-08', '2016-06-08', '2015-08-06'], dtype='datetime64[ns]', freq=None)

In [23]:
pd.Series(index = pd.DatetimeIndex(dates), data=[5, 6 ,7])

2015-06-08    5
2016-06-08    6
2015-08-06    7
dtype: int64

In [24]:
pd.Series(index = pd.DatetimeIndex(dates), data=[5, 6 ,7])

2015-06-08    5
2016-06-08    6
2015-08-06    7
dtype: int64

## pd.to_datetime() method

In [25]:
pd.to_datetime('25-06-01')

Timestamp('2001-06-25 00:00:00')

In [26]:
pd.to_datetime(dt.date(2015, 5, 1))

Timestamp('2015-05-01 00:00:00')

In [27]:
pd.to_datetime(['25-06-01', '2014/02/01', '2016', 'July 4 1996'])

DatetimeIndex(['2001-06-25', '2014-02-01', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [28]:
someday = pd.Series(['25-06-01', '2014/02/01', '2016', 'July 4 1996'])

In [29]:
pd.to_datetime(someday)

0   2001-06-25
1   2014-02-01
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [30]:
random = pd.Series(['July 4 1996', '10/10/2050', 'Hello', '255-163-2'])

In [31]:
pd.to_datetime(random, errors = 'coerce')

0   1996-07-04
1   2050-10-10
2          NaT
3          NaT
dtype: datetime64[ns]

In [32]:
pd.to_datetime(random, errors = 'ignore')

0    July 4 1996
1     10/10/2050
2          Hello
3      255-163-2
dtype: object

## pd.date_range() method - 1

In [33]:
pd.date_range(start='2016-1-1', end='2017-1-1', freq='1M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [34]:
pd.date_range(start='2016-1-1', end='2017-1-1')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
               '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
               '2016-12-31', '2017-01-01'],
              dtype='datetime64[ns]', length=367, freq='D')

In [35]:
pd.date_range(start='2016-1-1', end='2017-1-1', freq='b')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14',
               ...
               '2016-12-19', '2016-12-20', '2016-12-21', '2016-12-22',
               '2016-12-23', '2016-12-26', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', length=261, freq='B')

In [36]:
pd.date_range(start='2016-1-1', end='2017-1-1', freq='w')

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31', '2016-02-07', '2016-02-14', '2016-02-21',
               '2016-02-28', '2016-03-06', '2016-03-13', '2016-03-20',
               '2016-03-27', '2016-04-03', '2016-04-10', '2016-04-17',
               '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15',
               '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12',
               '2016-06-19', '2016-06-26', '2016-07-03', '2016-07-10',
               '2016-07-17', '2016-07-24', '2016-07-31', '2016-08-07',
               '2016-08-14', '2016-08-21', '2016-08-28', '2016-09-04',
               '2016-09-11', '2016-09-18', '2016-09-25', '2016-10-02',
               '2016-10-09', '2016-10-16', '2016-10-23', '2016-10-30',
               '2016-11-06', '2016-11-13', '2016-11-20', '2016-11-27',
               '2016-12-04', '2016-12-11', '2016-12-18', '2016-12-25',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [37]:
pd.date_range(start='2016-1-1', end='2017-1-1', freq='H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-12-31 15:00:00', '2016-12-31 16:00:00',
               '2016-12-31 17:00:00', '2016-12-31 18:00:00',
               '2016-12-31 19:00:00', '2016-12-31 20:00:00',
               '2016-12-31 21:00:00', '2016-12-31 22:00:00',
               '2016-12-31 23:00:00', '2017-01-01 00:00:00'],
              dtype='datetime64[ns]', length=8785, freq='H')

In [38]:
pd.date_range(start='2016-1-1', end='2017-1-1', freq='53Min')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 00:53:00',
               '2016-01-01 01:46:00', '2016-01-01 02:39:00',
               '2016-01-01 03:32:00', '2016-01-01 04:25:00',
               '2016-01-01 05:18:00', '2016-01-01 06:11:00',
               '2016-01-01 07:04:00', '2016-01-01 07:57:00',
               ...
               '2016-12-31 15:55:00', '2016-12-31 16:48:00',
               '2016-12-31 17:41:00', '2016-12-31 18:34:00',
               '2016-12-31 19:27:00', '2016-12-31 20:20:00',
               '2016-12-31 21:13:00', '2016-12-31 22:06:00',
               '2016-12-31 22:59:00', '2016-12-31 23:52:00'],
              dtype='datetime64[ns]', length=9945, freq='53T')

In [39]:
pd.date_range(start='2016-1-1', end='2017-1-1', freq='1h 53min')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:53:00',
               '2016-01-01 03:46:00', '2016-01-01 05:39:00',
               '2016-01-01 07:32:00', '2016-01-01 09:25:00',
               '2016-01-01 11:18:00', '2016-01-01 13:11:00',
               '2016-01-01 15:04:00', '2016-01-01 16:57:00',
               ...
               '2016-12-31 06:55:00', '2016-12-31 08:48:00',
               '2016-12-31 10:41:00', '2016-12-31 12:34:00',
               '2016-12-31 14:27:00', '2016-12-31 16:20:00',
               '2016-12-31 18:13:00', '2016-12-31 20:06:00',
               '2016-12-31 21:59:00', '2016-12-31 23:52:00'],
              dtype='datetime64[ns]', length=4665, freq='113T')

In [40]:
pd.date_range(start='2016-1-1', end='2017-1-1', freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [41]:
pd.date_range(start='2016-1-1', end='2017-1-1', freq='M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [42]:
pd.date_range(start='2016-1-1', end='2020-1-1', freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31'], dtype='datetime64[ns]', freq='A-DEC')

## pd.date_range() method - 2

In [43]:
pd.date_range(start='2016-1-1', periods = 5)

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05'],
              dtype='datetime64[ns]', freq='D')

In [44]:
pd.date_range(start='2016-1-1', periods = 25, freq = 'M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31',
               '2018-01-31'],
              dtype='datetime64[ns]', freq='M')

In [45]:
pd.date_range(start='2016-1-1', periods = 5, freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07'],
              dtype='datetime64[ns]', freq='B')

In [46]:
pd.date_range(start='2016-1-1', periods = 5, freq='W-TUE')

DatetimeIndex(['2016-01-05', '2016-01-12', '2016-01-19', '2016-01-26',
               '2016-02-02'],
              dtype='datetime64[ns]', freq='W-TUE')

## pd.date_range() method - 3

In [47]:
pd.date_range(end = '1993-01-2',periods = 20, freq = 'D')

DatetimeIndex(['1992-12-14', '1992-12-15', '1992-12-16', '1992-12-17',
               '1992-12-18', '1992-12-19', '1992-12-20', '1992-12-21',
               '1992-12-22', '1992-12-23', '1992-12-24', '1992-12-25',
               '1992-12-26', '1992-12-27', '1992-12-28', '1992-12-29',
               '1992-12-30', '1992-12-31', '1993-01-01', '1993-01-02'],
              dtype='datetime64[ns]', freq='D')

## .dt accessor

In [48]:
dates = pd.date_range(start='1993-05-01', end='2011-05-03', freq='24D')

In [49]:
s = pd.Series(dates)

In [50]:
mask = s.dt.is_month_end

In [51]:
s[mask]

19    1994-07-31
52    1996-09-30
90    1999-03-31
118   2001-01-31
123   2001-05-31
208   2006-12-31
213   2007-04-30
227   2008-03-31
246   2009-06-30
dtype: datetime64[ns]

## pd.DateOffset() method

In [52]:
dt.datetime.now() + pd.DateOffset(days=2)

Timestamp('2019-04-06 12:17:38.902963')

In [53]:
dt.datetime.now() + pd.DateOffset(years = 2)

Timestamp('2021-04-04 12:17:39.002713')

In [54]:
dt.datetime.now() + pd.DateOffset(years = 1, months =2, days =10)

Timestamp('2020-06-14 12:17:39.097215')

In [58]:
pd.tseries.offsets.MonthEnd() + dates

DatetimeIndex(['1993-05-31', '1993-05-31', '1993-06-30', '1993-07-31',
               '1993-08-31', '1993-08-31', '1993-09-30', '1993-10-31',
               '1993-11-30', '1993-12-31',
               ...
               '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31',
               '2011-01-31', '2011-01-31', '2011-02-28', '2011-03-31',
               '2011-04-30', '2011-05-31'],
              dtype='datetime64[ns]', length=275, freq='24D')

In [60]:
dates - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1993-04-30', '1993-04-30', '1993-05-31', '1993-06-30',
               '1993-07-31', '1993-07-31', '1993-08-31', '1993-09-30',
               '1993-10-31', '1993-11-30',
               ...
               '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30',
               '2010-12-31', '2010-12-31', '2011-01-31', '2011-02-28',
               '2011-03-31', '2011-04-30'],
              dtype='datetime64[ns]', length=275, freq='24D')

## Timedelta Object

In [61]:
timeA = pd.Timestamp('2016-5-3')
timeB = pd.Timestamp('2016-3-2')

In [62]:
timeA-timeB

Timedelta('62 days 00:00:00')

In [65]:
timeB-timeA

Timedelta('-62 days +00:00:00')

In [68]:
pd.Timedelta(days = -3)

Timedelta('-3 days +00:00:00')

In [69]:
pd.Timedelta(days = 3)

Timedelta('3 days 00:00:00')

In [70]:
pd.Timedelta('5 days')

Timedelta('5 days 00:00:00')

In [73]:
pd.Timedelta('10 days 23 min 30 sec')

Timedelta('10 days 00:23:30')

## Timedeltas in a Dataset

In [78]:
ecom = pd.read_csv('Datasets/ecommerce.csv', index_col = 'ID', parse_dates = ['order_date', 'delivery_date'])

In [79]:
ecom.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [81]:
ecom['duration'] = ecom['delivery_date'] - ecom['order_date']

In [82]:
ecom.head()

   order_date delivery_date  duration
ID
1  1998-05-24    1999-02-05  257 days
2  1992-04-22    1998-03-06 2144 days
4  1991-02-10    1992-08-26  563 days
5  1992-07-21    1997-11-20 1948 days
7  1993-09-02    1998-06-10 1742 days

In [84]:
ecom['delivery_date'] + ecom['duration']

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
8     1994-04-14
9     1999-06-09
10    2005-11-05
11    1998-07-16
18    2000-02-08
19    1998-05-28
20    2004-09-24
23    2006-10-30
26    2000-05-26
30    1999-04-02
32    2007-01-25
33    1998-11-03
35    1998-12-15
36    1997-11-16
39    1995-11-27
41    2000-08-12
46    1997-06-02
50    2007-09-30
52    2000-01-24
53    2001-01-15
54    1999-11-30
58    1995-06-19
59    1996-03-03
60    1998-01-25
63    2000-05-13
         ...
932   1998-12-23
934   1995-08-30
935   2005-08-16
938   1997-11-04
939   1999-02-12
942   2002-01-20
943   2008-10-03
945   1996-11-09
946   2000-10-16
947   2007-06-04
949   1992-04-08
951   1996-11-02
953   1996-12-18
954   1994-07-10
956   2002-05-30
957   2004-05-17
958   2004-09-01
969   1997-01-08
972   2001-08-02
975   1998-03-19
981   1999-04-05
983   2000-02-26
984   2006-08-27
985   1997-05-12
986   1994-12-23
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [89]:
mask = ecom['duration'] > '365 days'

In [91]:
ecom[mask].sort_values('duration')

    order_date delivery_date  duration
ID
11  1996-07-12    1997-07-14  367 days
457 1991-06-17    1992-06-18  367 days
76  1997-05-26    1998-06-05  375 days
445 1993-02-11    1994-02-24  378 days
326 1998-05-12    1999-05-29  382 days
423 1995-09-26    1996-10-17  387 days
248 1998-05-23    1999-06-17  390 days
796 1994-01-19    1995-02-18  395 days
981 1997-01-31    1998-03-04  397 days
672 1993-07-10    1994-08-11  397 days
879 1996-11-30    1998-01-02  398 days
260 1993-04-27    1994-05-30  398 days
346 1998-04-27    1999-06-03  402 days
129 1990-04-09    1991-05-24  410 days
236 1995-02-23    1996-04-12  414 days
565 1992-05-26    1993-07-15  415 days
266 1995-03-31    1996-05-22  418 days
700 1995-02-07    1996-04-05  423 days
500 1996-11-12    1998-01-09  423 days
794 1994-03-21    1995-05-30  435 days
85  1991-03-05    1992-05-14  436 days
855 1992-01-01    1993-03-17  441 days
789 1991-12-28    1993-03-14  442 days
228 1990-05-06    1991-07-23  443 days
596 1994-12-28    1996-03-22  450 days
498 1996-06-04    1997-08-28  450 days
280 1995-05-27    1996-09-12  474 days
905 1995-06-16    1996-10-02  474 days
749 1995-10-02    1997-01-18  474 days
533 1995-12-19    1997-04-06  474 days
..         ...           ...       ...
825 1991-12-12    1999-09-15 2834 days
548 1990-11-03    1998-08-11 2838 days
166 1990-07-12    1998-05-01 2850 days
586 1991-12-11    1999-10-05 2855 days
900 1992-01-26    1999-11-23 2858 days
282 1990-04-30    1998-03-24 2885 days
947 1991-06-18    1999-06-11 2915 days
370 1991-06-11    1999-06-24 2935 days
826 1990-04-16    1998-05-18 2954 days
50  1991-05-03    1999-07-17 2997 days
165 1990-03-23    1998-06-07 2998 days
636 1991-03-01    1999-05-17 2999 days
760 1990-09-16    1998-12-06 3003 days
634 1991-04-04    1999-07-21 3030 days
902 1991-07-03    1999-11-10 3052 days
32  1990-01-20    1998-07-24 3107 days
151 1991-01-29    1999-08-05 3110 days
786 1990-10-26    1999-05-10 3118 days
229 1990-04-13    1998-11-17 3140 days
590 1990-03-25    1998-12-20 3192 days
674 1990-03-16    1998-12-28 3209 days
943 1991-01-30    1999-12-02 3228 days
348 1990-02-27    1999-01-04 3233 days
392 1990-12-24    1999-12-04 3267 days
764 1990-09-19    1999-09-16 3284 days
331 1990-09-18    1999-12-19 3379 days
130 1990-04-02    1999-08-16 3423 days
904 1990-02-13    1999-11-15 3562 days
314 1990-03-07    1999-12-25 3580 days
884 1990-01-20    1999-11-12 3583 days

[394 rows x 3 columns]